<% title "Edit Site text" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Show", admin_agency_site_text_path(@agency, @site_text) %> |
  <%= link_to "View All", admin_agency_site_texts_path(@agency) %>
</p>
