<h1>Edit site text </h1>

<%= render :partial => 'form' %>

<%= link_to "Show", admin_agency_site_text_path(@agency, @site_text) %> |
<%= link_to "View All", admin_agency_site_texts_path(@agency) %>

