<h1>New barrio</h1>

<% labelled_form_for(:admin, @barrio) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'barrio_fields', 
    :locals => {
      :f => f,
      :lists => @lists
    } %>
  
  <div class="row">
    <%= f.submit 'Create' %>
  </div>
<% end %>

<%= link_to 'Back', admin_market_barrios_path(@market) %>
