<h1>New agent</h1>

<% labelled_form_for(:admin, @agent) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'agent_fields', 
    :locals => {
      :f => f
    } %>
  
  <div class="row">
    <%= f.submit 'Create' %>
  </div>
<% end %>

<%= link_to 'Back', contextual_collection_path %>
