/* 
    Document   : listing_index
    Created on : Mar 9, 2009, 9:13:06 AM
    Author     : brian
    Description:
        Purpose of the stylesheet follows.
*/

#listings-index-content {
  padding: 20px 15px 15px 20px;
}

div.listing_container {
  border: 1px dotted #e5e5e5;
  color: #404040;
  margin: 26px 0;
  padding: 0 0 10px 0;
  font-size: 95%;
}

div.listing_container div.content {
}

div.listing_container div.thumbnail {
  float: left;
  margin: -11px 10px 1px -11px; /* Right margin needed because div.text extends behind
                            image all the way to left border of container */
}
div.listing_container div.thumbnail img {
  display: block;
  border: none;
}

div.listing_container div.flowed_content {
  padding: 10px 10px 0 10px; /* Left padding ineffective because div.text extends
                            behind div.thumbnail all the way to left border */
  border-bottom: none;
}

div.listing_container div.show_more_wrapper {
  position: relative;
}
div.listing_container div.show_more_wrapper div.show_more_image,
div.listing_container div.show_more_wrapper div.show_less_image {
  background: none;
  margin-left: auto;
  margin-right: auto;  
  width: 124px;
  height: 8px;
  cursor: pointer;
  z-index: 1;
}
div.listing_container:hover div.show_more_wrapper div.show_more_image {
  background: url('../images/more_less_bar.png') no-repeat 0 -12px;
}
div.listing_container:hover div.show_more_wrapper div.show_less_image {
  background: url('../images/more_less_bar.png') no-repeat 0 0;
}
div.listing_container div.show_more_wrapper div.open_zone {
  position: absolute;
  top: -30px;
  left: 33%;
  width: 33%;
  height: 60px;
  /*border: 1px dotted purple;*/
  cursor: pointer;
  z-index: 10;
}

div.listing_container div.flowed_content h2 {
  /*background-color: #ddeeff;*/
  font-size: 130%;
  margin: 0.3em 5px 0.3em 0;
}
div.listing_container div.flowed_content h2 a {
  color: #c7532c;
}
div.listing_container div.flowed_content div.section {
  line-height: 1.2em;
  margin: 0.2em 0 0 0;
  padding: 0.3em 5px;
}
div.listing_container div.flowed_content ul {
  line-height: 1.2em;
  margin: 0.2em 0 0 0;
  padding: 0.2em 5px;
}
div.listing_container div.flowed_content div.price {
  float: right;
  margin: 3px 5px 1em 10px;
  font-size: 130%;
  font-weight: bold;
  color: #666;
}
div.listing_container div.flowed_content div.highlighted-items {
  /*background-color: #ffeedd;*/
  font-weight: bold;
  font-size: 110%;
}
div.listing_container div.flowed_content ul.info_list {
  /*background-color: #eeffee;*/
  line-height: 1.3em;
  font-size: 110%;
}

div.listing_container div.flowed_content div.agent_name {
  font-size: 110%;
}

div.listing_container div.flowed_content div.description {
}

div.listing_container div.footer {
  padding: 0.3em 10px 0 10px;
  color: #333;
}
div.listing_container div.footer div {
  background-color: #f1f1f1; /* very light gray */
  padding: 0.1em 3px;
}
div.listing_container div.footer div div {
  background: none;
}
div.listing_container div.footer div.reference-id {
  float: left;
  font-weight: bold;
  font-size: 110%;
}
div.listing_container div.footer div.links {
  float: right;
}

div.listing_container div.footer ul {
  list-style-type: none;
}
div.listing_container div.footer ul li {
  float: right;
  margin-right: 0;
  margin-left: 1.5em;
}



#right_margin div.bold_link {
  margin: 0.7em 0px;
  text-align: center;
  color: #aaa;
}

#right_margin div.bold_link, #right_margin div.bold_link a {
  font-size: 100%;
  font-weight: bold;
}

#right_margin div.bold_link a {
  color: #c7532c; /* rusty orange */
}-

#right_margin div.bold_link span {
  font-weight: normal;
  color: #666;
}

#right_margin div.nested_menu {
  position: relative;
  cursor: pointer;
}


#right_margin div.nested_menu div.button {
  margin: 0px 10px 10px;
  padding: 10px 0px;
  background: #d0d0d0 url("../images/black_arrow_left.png") no-repeat 14px 50%;
  border: 1px solid #c0c0c0;
  filter: alpha(opacity: 0.70);
  KHTMLOpacity: 0.70;
  MozOpacity: 0.70;
  opacity: 0.70;
}

#right_margin div.nested_menu div.button:hover {
  filter: alpha(opacity: 1.00);
  KHTMLOpacity: 1.00;
  MozOpacity: 1.00;
  opacity: 1.00;
}

#right_margin div.nested_menu div.button div {
  margin-left: 18px;
  color: #000;
  font-weight: bold;
  font-size: 140%;
  text-align: center;
}

#right_margin div.nested_menu div.submenu {
  position: absolute;
  top: 0;
  right: 150px;
  width: 150px;
  background-color: #f1f1f1; /* very light gray */
  border: 1px solid #e5e5e5;
  cursor: default;
  padding: 0.30em 0.50em 0.8em;
}

#right_margin div.nested_menu div.submenu ul {
  margin: 0 7px;
  padding: 0;
}

#right_margin div.nested_menu div.more {
  font-size: 75%;
  color: #c7532c; /* rusty orange */
  letter-spacing: 1px;
  cursor: pointer;
}

#right_margin div.nested_menu div.submenu li {
}

#right_margin div.nested_menu div.submenu a {
  color: #666;
}

#right_margin div.nested_menu div.submenu div.close_element {
  position: absolute;
  top: 7px; right: 7px;
  background-color: #f0f0f0;
  border: 1px solid #ff0000;
  color: #c7532c; /* rusty orange */
  font-style: Verdana;
  font-weight: bold;
  font-size: 80%;
  padding: 1px 2px;
  padding: 1px 2px;
  line-height: 1.0em;
  cursor: pointer;
}
