#contact_icons div.links div.toggleable_content div.toggleable_content_item {
  padding: 0 0 0 0;
  font-size: 100%;
  text-align: center;
  /* Opacity - if used with Effect.Appear, opacity must be set to the same
   * value in JavaScript
  filter: alpha(opacity:95);
  KHTMLOpacity: 0.95;
  MozOpacity: 0.95;
  opacity: 0.95;
  */
}
/* different middle bg for stretch */
#contact_icons div.links div.toggleable_content div.bottom {
  padding: 0.5em 10px 1.2em 10px;
  font-size: 85%;
  font-weight: normal;
  background: url("../images/bubble.gif") no-repeat bottom;
}
#contact_icons div.links div.toggleable_content div.middle {
  padding: 0.5em 10px;
  font-size: 100%;
  font-weight: normal;
  background: url("../images/bubble_filter.gif") repeat bottom;
  color: #895412;
}
#contact_icons div.links div.toggleable_content div.top {
  padding: 1.2em 10px 0.5em 10px;
  font-weight: bold;
  font-size: 120%;
  background: url("../images/bubble.gif") no-repeat top;
}
