<p>
  <%= link_to(
    image_tag(images_property_image_path(@property_image, :format => :jpg)),
    fullsize_property_image_path(@property_image),
    :target => :image_viewer
  ) %>
</p>
<p>
  <%= link_to('original image', original_property_image_path(@property_image),
    :target => :_blank) %>
</p>

