<%
# Load data into select fields and select corresponding options
set_listing_type_form_list_data
%>
<div class="row">
  <%= f.text_field :name %>
</div>
<div class="row">
  <label for="category_ids">Categories</label>
  <%= multiple_select 'listing_type',
    'category_ids',
    @lists[:categories],
    {
      :outer_class => 'multiple_select',
      :inner_class => 'multiple_select_checkbox' 
    }
  %>
</div>
<div class="row">
  <label for="style_ids">Styles</label>
  <%= multiple_select 'listing_type',
    'style_ids',
    @lists[:styles],
    {
      :outer_class => 'multiple_select',
      :inner_class => 'multiple_select_checkbox' 
    }
  %>
</div>
<div class="row">
  <label for="feature_ids">Features</label>
  <%= multiple_select 'listing_type',
    'feature_ids',
    @lists[:features],
    {
      :outer_class => 'multiple_select',
      :inner_class => 'multiple_select_checkbox'
    }
  %>
</div>
