<h1>Editing property</h1>

<%= render :partial => 'form' %>

<% # MOVED to show.html.erb = render :partial => 'associated_listings' %>

<% # MOVED to show.html.erb = link_to 'Add listing', new_property_listing_path(@property) %> |
<%= link_to 'Show', contextual_path(@property) %> |
<%= link_to 'Back', contextual_collection_path %>
