<div id="header" class="small_header clearfix">
  <%= render :partial => 'layouts/user_bar' %>
  <div id="logo_area">
    <div id="site_logo">
      <% if @active_agency.agency_logos[0] %>
        <%= active_agency_logo(@active_agency.agency_logos[0]) %>
      <% else %>
        <%= default_logo %>
      <% end %>
    </div>
  </div>
  <%= render :partial => 'listings/mini_glider' %>
</div>
