<h1>Edit agency jurisdiction</h1>

<%= render :partial => 'form' %>

<%= link_to 'Show', admin_agency_jurisdiction_path(@agency_jurisdiction) %> |
<%= link_to 'Back', admin_agency_jurisdictions_path %>
